@media (max-width: 768px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form {
        width: 400px;
        height: 500px;
        margin-bottom: 40px;
    }

    .ajuda {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .ajuda .title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    .ajuda .texto {
        font-size: 20px;
        text-align: center;
        margin: auto;
    }

    .btn {
        height: 120px;
    }
}

@media (max-width: 710px){
    main {
        flex-direction: column;
        justify-content: center;
    }

    .ajuda .texto {
        text-align: center;
        margin-left: 35px;
    }

    .form {
        margin-top: -100px;
    }

}

@media (max-width: 576px) {
    main {
        flex-direction: column;
        justify-content: center;
    }

    .ajuda {
        margin: 5px 5px 20px 40px;
    }
    
    .ajuda .title{
        font-size: 22px;
        text-align: center;
        margin-right: 25px;
    }

    .ajuda .texto {
        font-size: 15px;
        text-align: center;
        margin-left: 0;
        margin-right: 30px;
    }

    .form {
        margin-top: 15px;
        height: 600px;
    }
}

@media (max-width: 425px) {
    .form {
        width: 300px;
        height: 470px;
    }
}